
.landing-container {
  background-color: #00539c;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
 background-color: #ea580c;
 width: 90%;
 height: 50px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 border-radius: 10px;
}

.header p {
  color: #fff;
  font-size: 1.2rem;
}

.rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.room-card {
  background-color:#102c57;
  width: 90%;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.room-card p {
  color: #fff;
  font-size: 1.2rem;
}
